<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Qute Hello World</title>
    <link rel="stylesheet" href="unpoly.css"/>
    <link rel="stylesheet" href="script.css"/>
    <link rel="stylesheet" href="unpoly-bootstrap4.css"/>
    <script src="unpoly.js"></script>
    <script src="unpoly-bootstrap4.js"></script>
    <script src="scripts.js"></script>

    {#bundle key="teststyle" tag="style"/}

</head>
<body>
    <p class="roses">Roses are Red !</p>
    <p class="violets">Violets are Blue !</p>
    <p class="green">My code compiles,</p>
    <p class="green">But does it run too?</p>
</body>
</html>