// This style will be bundled by the Web-Bundler and available using the {#bundle /} tag
// for more information about how to use the {#bundle /} tag, see https://docs.quarkiverse.io/quarkus-web-bundler/dev/advanced-guides.html#bundle-tag


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #b79929;
}

header {
    flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 1 40px;
  display: flex;
  justify-content: center;
}


body {
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}

p {
  color: #FFFF82;
}


